/* In your App.css or index.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Paytone+One&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(0, 0, 0, 0.684);
  /* background-image: url(/src/assets/homeLander.jpg);
  background-size: cover;
  background-repeat: no-repeat; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* .card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
.card .card-img {
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
}
.card .card-title {
  font-family: poppins, sans-serif;
  margin: 0;
  color: black;
}

.card .card-text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: hsla(0, 0%, 0%, 0.559);
}
.student {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid black;
} */

/* .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: poppins;
}

.counter h2 {
  font-size: 2rem;
}
.counterButtons {
  display: flex;
  gap: 10px;
}
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: hsla(118, 83%, 48%, 0.632);
  font-family: poppins;
}
.reset {
  background-color: rgba(255, 0, 0, 0.747);
} */
/* 
.to-do-list {
  font-family: "poppins";
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 4rem;
}
button {
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: rgba(0, 0, 0, 0.528);
}
.add-button {
  background-color: hsla(120, 100%, 25%, 0.474);
}
.add-button:hover {
  background-color: hsla(120, 100%, 25%, 0.316);
}
.delete-button {
  background-color: rgba(255, 0, 0, 0.428);
}
.delete-button:hover {
  background-color: rgba(255, 0, 0, 0.614);
}
.up-button {
  background-color: rgba(137, 43, 226, 0.573);
}

.up-button:hover {
  background-color: rgba(137, 43, 226, 0.765);
}

.down-button {
  background-color: rgba(153, 50, 204, 0.704);
}

.down-button:hover {
  background-color: rgba(153, 50, 204, 0.824);
}
input {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  margin-right: 10px;
}

ol {
  padding: 0;
}
li {
  font-weight: bold;
  padding: 15px;
  background-color: rgba(127, 255, 212, 0.144);
  margin-bottom: 10px;
  border: 3px solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text {
  flex: 1;
} */
/* 
.clock {
  display: flex;
  align-items: center;
  justify-content: center;
}
span {
  font-family: "Anta";
  color: white;
  font-size: 7rem;
  padding: 10px 20px;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 10px;
} */

.box {
  border: 2px solid rgba(0, 0, 0, 0.428);
  border-radius: 10px;
  padding: 10px 20px;
}
.box h1 {
  font-family: "anta";
  font-size: 4rem;
  color: white;
  z-index: 100;
}
